# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm i @angular/cli
    - run: rm -rf docs
    - run: npm run build --if-present --prod
    - run: rm -rf docs/server
    - run: mv docs/browser/* docs
    - name: Commit files
      run: |
        git config --local user.email "fthornton@phitr.ai"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Add changes" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}

    #- name: Archive production artifacts
    #  uses: actions/upload-artifact@v4
    #  with:
    #      name: dist-without-markdown
    #      path: |
    #        docs/browser
    #        !dist/**/*.md
#    - run: npm test